---
layout: default
---

{%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
  <ul class="posts">
    <li class="posts-labelgroup" id="posts-labelgroup">
      <h1 id="posts-label">posts</h1>
      {% if site.plainwhite.search %}
      <div class="search-container">
        <div class="search-section">
          <i class="icon-search"></i>
          <input type="text" name="search" id="searchbar" autocomplete="off" aria-label="search in posts">
        </div>
        <div class="search-results" id="search-results" data-placeholder="No Results" style="display: none;"></div>
      </div>
      {% endif %}
    </li>
    <h1>Biography</h1>
      <p>I am a Ph.D. student in <a href="https://www.cse.uconn.edu"><b><i>Department of Computer Science and Engineering</i></b></a> at <a href="https://uconn.edu"><b><i>University of Connecticut</i></b></a>. I obtained my B.S. degree from <a href="https://www.qmul.ac.uk"><b><i>Queen Mary University of London</i></b></a> and B.A. degree from <a href="https://english.bupt.edu.cn"><b><i>Beijing University of Posts and Telecommunications</i></b></a> in 2016 and M.S. degree from <a href="https://www.utdallas.edu"><b><i>University of Texas at Dallas</i></b></a> in 2018.</p>
      <h3>My research interests include Security & Privacy in Machine Learning (e.g., Gradient Attack, Reconstruction Attack), Privacy-Preserving Machine Learning (e.g., Differential Privacy, MPC and TEE) and Efficient AI(e.g., Weight Pruning and Quantization).</h3>
      

    <h1>News</h1>
      <ul>
        <li>2021/11, Enabling Super-Fast Deep Learning on Tiny Energy-Harvesting IoT Devices is accepted by Design, Automation and Test in Europe Conference and Exhibition (DATE) 2022 </li>
        <li>2021/08, <i><b>(Oral)</b><b>A Secure and Efficient Federated Learning Framework for NLP</b></i> is accepted by Empirical Methods in Natural Language Processing (EMNLP) 2021 </li>
        <li>2021/08, <i><b>FL-DISCO: Federated Generative Adversarial Network for Graph-based Molecule Drug Discovery</b></i> is accepted by International Conference On Computer Aided Design (ICCAD) 2021</li>
        <li>2021/08, <i><b>TAG: Gradient Attack on Transformer-based Language Models</b></i> is accepted by Empirical Methods in Natural Language Processing (EMNLP) 2021</li>
        <li>2021/06, I started my internship in Oak Ridge National Laboratory (ORNL)</li>
        <li>2021/02, <a href="https://ieeexplore.ieee.org/abstract/document/9474235"><i>TinyADC</i></a> is accepted by Design, Automation and Test in Europe Conference and Exhibition (DATE) 2021 <b>(Best Paper Nomination)</b></li>
        <li>2020/11, <a href="https://arxiv.org/abs/2009.01867"><i>ESMFL</i></a> is accepted by NeurIPS Workshop 2020, SpicyFL
        </li>
        <li>2020/08, I received the Cigan Graduate Fellowship from UConn CSE.</li>
        <li>2020/08, I joined UConn as a Ph.D. student in Department of Computer Science and Engineering.</li>
        <li>2020/08, One paper is accepted by the 33rd IEEE International System-on-chip Conference (SOCC) 2020</li>
        <li>2020/06, <a href="https://academic.oup.com/bib/article-abstract/22/3/bbaa090/5860679"><i>iPRIVATES</i></a> is accepted by Briefings in Bioinformatics in 2020</li>
      </ul>
    <!-- {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
          <h2 class="post-title">{{ post.title | escape }}</h2>
        </a>
        <div class="post-meta">
          <div class="post-date">
            <i class="icon-calendar"></i>
            {{ post.date | date: date_format }}
          </div>
          {%- if post.categories.size > 0-%}
          <ul class="post-categories">
            {%- for tag in post.categories -%}
            <li>{{ tag }}</li>
            {%- endfor -%}
          </ul>
          {%- endif -%}
        </div>
        <div class="post">
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </div>
      </li>
    {%- endfor -%} -->
  </ul>

  <!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
{%- endif -%}
